.hero{
    width: 100%;
    padding: 20px 20px 0px 20px;
    height: 300px;
    display: flex;
    align-items: center;
    gap: 20px;
    &__right{
        h1{
            font-size: 48px;
            width: 100%;
        }
        width: 80%;
    }
    &__left{
        flex: 1;
    }
}

#hero{
    background: url('../../assets/images/heroBack.svg') no-repeat center/cover;

}

@media (max-width:720px) {
    .hero{
        flex-direction: column;
        height: auto;
    }
    .hero__right,.hero__left{
       flex: 1;
    }
}