.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 0px 0px 10px gray;
  height: 100px;
  max-width: 100%;
  z-index: 9999;
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    height: 100%;
    &__logo {
      width: 15%;
      img {
        width: 100px;
      }
    }
    .show__form {
      display: none;
    }
    &__left {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__form{
        display: flex;
        align-items: center;
        border: 1px solid #70c05b;
        justify-content: space-between;
        height: 40px;
        border-radius: 5px;
        width: 40%;
        input {
          outline: none;
          border: none;
          font-size: 18px;
          padding: 0px 10px;
        }
        svg {
          font-size: 25px;
          cursor: pointer;
          padding-right: 5px;
        }
      }
      .category__selector-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
        background: #70c05b;
        border: 1px solid #70c05b;
        border-radius: 5px;
        color: white;
        img {
          width: 15px;
          height: 15px;
        }
        svg {
          font-size: 15px;
          height: 15px;
        }
      }
      @media (max-width: 530px) {
        .category__selector-btn {
          display: flex;
          flex-direction: column;
          color: black;
          border: none;
          background-color: transparent;
          gap: 5px 5px;
          padding: 5px;
        }
      }
      &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
        &__item {
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
          svg {
            font-size: 24px;
          }
        }
      }
      &__profile {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }
  }
}

.dropdown__module {
  position: fixed;
  top: 101px;
  left: 0;
  width: 100%;
  max-width: 100%;

  background: white;
  padding: 50px;
  box-shadow: 0px 6px 6px rgba(128, 128, 128, 0.487);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  .dropdown__card {
    display: flex;
    align-items: center;
    gap: 30px;
    transition: 0.3s;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  .dropdown__card:hover {
    background: #0002;
  }
}

@media (max-width: 770px) {
  .dropdown__module {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 520px) {
  .dropdown__module {
    grid-template-columns: 1fr;
    max-height: 50vh;
    overflow-y: auto;
  }
}

@media (max-width: 300px) {
  .dropdown__card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dropdown__module {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    gap: 30px;
  }
}

@media (max-width: 1100px) {
  .header__nav__logo {
    width: 10%;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 1000px) {
  .header__nav__logo {
    width: 7%;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 940px) {
  .show__form {
    display: flex !important;
  }
  .header__nav__left__show__form {
    display: flex;
    align-items: center;
    border: 1px solid #70c05b;
    justify-content: space-between;
    height: 40px;
    border-radius: 5px;
    input {
      outline: none;
      border: none;
      font-size: 18px;
      padding: 0px 10px;
    }
    svg {
      font-size: 25px;
      cursor: pointer;
      padding-right: 5px;
    }
  }
  .header__nav__left {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 16px;
    font-size: 15px;
    background: white;
    &__form {
      display: none;
    }
    &__list {
      width: 50%;
      &__item {
        gap: 5px;
      }
    }
  }
  .header__nav__logo {
    width: 100px;
  }
}

@media (max-width: 650px) {
  .header__nav__left__profile {
    flex-direction: column;
    gap: 5px;
  }
}

@media (max-width: 400px){
    .header__nav{
      flex-direction: column;
      height: auto;
    }
    .header{
      height: auto;
      padding-bottom: 20px;
    }
    .header__nav__logo{
      width: 100px;
    }
    .show__form{
      flex: 1;
    }
    
}

@media (max-width: 390px) {
  .header__nav__left__list {
    &__item {
      h3 {
        display: none;
      }
    }
    .category__selector-btn {
      color: black;
    }
    .x-image {
      color: black !important;
    }
  }
  .header__nav__left__profile,
  .category__selector-btn {
    h3 {
      display: none;
    }
  }
}
